.position.center {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 250px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-color: palegreen;
}